name: CICD

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Build Project
        run: mvn clean install -DskipTests
      - name: Login to docker hub
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Build docker image
        run: docker build -t photochitran/springboot-example .
      - name: Publish image to docker hub
        run: docker push photochitran/springboot-example:latest
  deploy:
    needs: build
    runs-on: [aws-ec2-farm-backend]
    steps:
      - name: Pull Image from docker hub
        run: docker pull photochitran/springboot-example:latest
      - name: Delete old container
        run: docker rm -f springboot-example-container || true
      - name: Run docker container
        run: docker run -d  --restart unless-stopped -p 8080:8080 --name springboot-example-container photochitran/springboot-example:latest
